# Dependencies
node_modules/

# Build output
build/

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Extension packaging
*.vsix
.vscode-test

# Logs
*.log

# TypeScript cache
*.tsbuildinfo

# Environment
.env
.env.*
!.env.example

.DS_Store
